# python virtual env
.venv

# python cache
__pycache__/keras_utils.cpython-38.pyc

# notebook checkpoints
.ipynb_checkpoints

# dataset folder and files
datasets
*.zip
*.csv
*.csv.gz
*.h5
*.hdf5

# models folder
models

# tensorflow logs
logs
